<ul class="card-text font-weight-light">
  {% for content in data[1] %}
    <li>
      <strong>{{ content.title }}</strong>
      {% if content.awarder %}  {{ content.awarder }}{% endif %}
      {% if content.summary %}
        <br><em>{{ content.summary }}</em>
      {% endif %}
    </li>
  {% endfor %}
</ul>
